body{
    background-color: white;
    font-size:25px;
}

.wrapper-main{
    width:800px;
    margin:0 auto;
}
table, th, td{
    border-collapse: separate;
    border-radius: 25px;
    padding:10px;
}
table
{
    background-color:aliceblue;
}
